#
# git has a global configuration that applies rules to all of your projects. For example:

# git config --global core.excludesfile ~/.global_ignore
# ... will apply the rules in ~/.global_ignore for all of your repos.

.Rproj.user
.Rhistory
.RData


*.bak

*.Rproj
*.RData
*.rdata
*.Rdata

*.png
*.PNG

*.jpg
*.JPG
*.jpeg
*.JPEG

*.pdf
*.PDF